<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>
<br>
<p th:text="${usr.getId()}"></p>
<p th:text="${usr.getFirstName()}"></p>
<p th:text="${usr.getLastName()}"></p>
<p th:text="${usr.getEmail()}"></p>
<p th:text="${usr.birthday}"></p>
<p th:text="${usr.address}"></p>
<p th:text="${usr.login}"></p>
<p th:text="${usr.roles}"></p>

<!--
<th:block th:each="role : ${usr.roles}">
    <span style="color:darkorange" th:utext="${role.role} "></span><br/>
</th:block>
-->


<!--<a th:href="@{/users}">Back to all Users</a>-->
<h3>
    <!--    <a th:href="@{/hello?id={id}(id=${usr.id})}">link to home page</a>-->
    <a th:href="@{/hello}">link to home page</a>
</h3>
</body>
</html>